<div class="footer">
  <div class="row">
    <div class="col6"></div>
    <div class="col2">
      <a href="#"><i class="bi bi-linkedin"></i> </a>
      <a href="#"><i class="bi bi-twitter"></i> </a>
      <a href="#"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-instagram"></i> </a>
    </div>
    <h5>© Copyright 2024 JobSimplified</h5>
    <img
      src="C:\Users\Kavin Prakash\OneDrive\Desktop\Angular.practice\project\website1\logo.jpeg"
      alt=""
    />
    <!--  <h4 class="link2">Online Internships</h4>
    <ul>
      <li><a href="#" class="link2">Tech Mahendra</a></li>
      <li><a href="#" class="link2">Google</a></li>
      <li><a href="#" class="link2">Amazon</a></li>
      <li><a href="#" class="link2">Apple</a></li>
    </ul> -->

    <h4>Courses</h4>
    <ul>
      >
      <li><a href="#" class="link1">Java</a></li>
      <li><a href="#" class="link1">Web development</a></li>
      <li><a href="#" class="link1">Web frameworks</a></li>
      <li><a href="#" class="link1">SQL</a></li>
      <li><a href="#" class="link1">Python</a></li>
    </ul>

    <h4 class="card">Jobs by places</h4>
    <ul>
      <li><a href="#">Chennai</a></li>
      <li><a href="#">Bangalore</a></li>
      <li><a href="#">Kolkata</a></li>
    </ul>
  </div>
</div>
